{% extends "base.html" %}

<title>{% block title %}LogIn{% endblock %}</title>

{% block content %}

{% if user.is_active %}
    <h2> {{ user.couser.UserName }}님이 로그인 중입니다.
        <button type ="button" onclick="window.location.href='/logout'">로그아웃</button></h2>
{% else %}

    {% if form.errors %}
    <p>ID나 비밀번호가 일치하지 않습니다.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">로그인</button>

    </form>
{% endif %}

{% endblock %}