<!DOCTYPE html>
<html lang="en">
{% load humanize %}
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>발주서</title>

    <style>

        table, th, td, tr {
            font-family: MyFont;
            border: 1px solid #bcbcbc;
            border-collapse: collapse;
            padding: 5px;
            font-size : 14px;
            vertical-align: middle;
            margin: 1px 1px 1px 1px;
        }
        div {
            margin-top : 1em;
            font-family: MyFont;
            font-size : 14px;
        }
        .header tr th{
            font-family: MyFont;
            border: 1px solid #bcbcbc;
            border-collapse: collapse;
            padding: 5px;
            font-size : 13px;
            vertical-align: middle;
            margin: 1px 1px 1px 1px;
        }

        .etc {
            border: 1px solid #bcbcbc;
        }

        .reqno tr th {
            font-size: 12px;
        }
        .noprint {
            font-size : 14px;
            }

        @media print {
            .noprint { display: none; }
        }
    </style>
</head>
<body>
{% for offer in offer %}
    <div class="noprint" align="right">
        <button type ="button" onclick="window.open('/Order/confirm/{{ offer.pk }}','ConfirmOrder','width=600,height=600, location=no, status=no, scrollbars=yes');"><b>발주완료</b></button>
        <button type ="button" onclick="window.print();"><b>발주서인쇄</b></button>
    </div>
{% endfor %}
{% regroup offerdetail by ProdCode.VendorCode as vendor_list %}

    {% for vendor in vendor_list %}
    <h1 align="center">발 주 서</h1>
        <div>
        <table class="header">
            <tr>
                <th width="40px">공급사</th>
                <th width="180px">{{ vendor.grouper }}</th>
                <th width="40px">담당자</th>
                <th width="180px">{{ vendor.grouper.ContactName1 }}</th>
                <th width="40px">발주처</th>
                <th width="200px">캐논코리아 비즈니스 솔루션(주)</th>
                <th width="40px">담당자</th>
                <th width="180px">{{ user.couser.UserName }}</th>
            </tr>
            <tr>
                <th>연락처</th>
                <th>{{ vendor.grouper.ContactTel1 }}</th>
                <th>e-mail</th>
                <th>{{ vendor.grouper.ContactMail1 }}</th>
                <th>연락처</th>
                <th>{{ user.couser.Phone }}</th>
                <th>e-mail</th>
                <th>{{ user.couser.Email }}</th>
            </tr>
        </table>
        </div>
        <div>
            <table class ="reqno">
                <tr>
                    <th>발주NO</th>
                    {% for offer in offer %}
                    <th>{{ offer.OfferNo }}</th>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <div>
        <table>
            <thead bgcolor="#dcdcdc">
                <tr>
                    <th width="160px">상품명</th>
                    <th width="40px">단위</th>
                    <th width="40px">수량</th>
                    <th width="60px">단가</th>
                    <th width="60px">힙계</th>
                    <th width="80px">배송<br>요청일</th>
                    <th width="220px">납품주소</th>
                    <th width="100px">제/상품 인수자</th>
                    <th width="80px">비고</th>
                </tr>
            </thead>
            <tbody>
               {% for offer in vendor.list %}
                <tr>
                    <td align="center">{{ offer.ProdCode.ProdName }}</td>
                    <td align="center">EA</td>
                    <td align="center">{{ offer.Qty|intcomma }}</td>
                    <td align="right">{{ offer.CoPrice|intcomma }}</td>
                    <td align="right">{{ offer.CoPriceSum|intcomma }}</td>
                    <td align="center"><input type="text" size="10" style="border:none"></td>
                    <td align="center"><textarea cols="30" rows="3" style="border:none;resize:none;"></textarea></td>
                    <td align="center"><textarea cols="15" rows="3" style="border:none;resize:none;"></textarea></td>
                    <td align="center"><textarea cols="10" rows="3" style="border:none;resize:none;"></textarea></td>
                </tr>
                {% endfor %}
            </tbody>
            <!--tfoot bgcolor="#ffbcbc">
                <tr>
                    <th colspan="2">소계</th>
                    <td align="center">{{ offerdetail.qtytotal|intcomma }}</td>
                    <td> </td>
                    <td align="right">{{ vendor.list.copricetotal|intcomma }}</td>
                    <td align="center">{{ vendor.list }}</td>
                    <td align="center"></td>
                    <td align="center"></td>
                    <td align="center"></td>

                </tr>
            </tfoot-->
        </table>
        </div>
        <div>
            <b>기타사항</b><br>
            <textarea class="etc" cols="158" rows="3" style="resize:none;width:1000px" align="center" ></textarea>
        </div>
    <div class="page-break" style="page-break-after: always;">&nbsp;</div>
    {% endfor %}

    <!--h1 align = 'center'>발 주 서</h1>
    <table>
        <tr>
            <th width="100px" bgcolor="#dcdcdc">공급사</th>
            <th width="300px">{{ v.Offer_No.ProdCode.VendorCode }}</th>
        </tr>
        <tr>
            <th width="100px" bgcolor="#dcdcdc">요청부서</th>
            <th width="300px">{{ offerprice.ReqNo }}</th>
        </tr>
        <tr>
            <th width="100px" bgcolor="#dcdcdc">요청사원</th>
            <th width="300px">{{ offerprice.ReqNo.EmpNo }}</th>
        </tr>
    </table>
        <h4>2. 가격 설정</h4>
        <h6 align="right">(단위 : EA, 원)</h6>
        <table>
            <thead bgcolor="#dcdcdc">
                <tr>
                    <th rowspan="2" width="80px">구분</th>
                    <th rowspan="2" width="100px">브랜드</th>
                    <th rowspan="2" width="200px">물품명</th>
                    <th rowspan="2" width="40px">수량</th>
                    <th colspan="2" width="160px">매입</th>
                    <th colspan="3" width="220px">매출</th>

                </tr>
                <tr>
                    <th width="80px">단가</th>
                    <th width="100px">합계</th>
                    <th width="80px">단가</th>
                    <th width="100px">합계</th>

                    <th width="80px">매출이익율</th>
                </tr>
            </thead>
            <tbody>
                {% for offerpricedetail in offerprice.Offer_No.all %}
                <tr>
                    <td align="center">{{ offerpricedetail.ProdCode.VendorCode }}</td>
                    <td align="center">{{ offerpricedetail.ProdCode.ProdBrand }}</td>
                    <td align="center">{{ offerpricedetail.ProdCode.ProdName }}</td>
                    <td align="center">{{ offerpricedetail.Qty|intcomma }}</td>
                    <td align="right">{{ offerpricedetail.CoPrice|intcomma }}</td>
                    <td align="right">{{ offerpricedetail.CoPriceSum|intcomma }}</td>
                    <td align="right">{{ offerpricedetail.OfferPrice|intcomma }}</td>
                    <td align="right">{{ offerpricedetail.OfferPriceSum|intcomma }}</td>

                </tr>
                {% endfor %}
            </tbody>
            <tfoot bgcolor="#ffbcbc">
                <tr>
                    <th colspan="3">소계</th>
                    <td align="center">{{ offerprice.qtytotal|intcomma }}</td>
                    <td> </td>
                    <td align="right">{{ offerprice.copricetotal|intcomma }}</td>
                    <td> </td>
                    <td align="right">{{ offerprice.offerpricetotal|intcomma }}</td>

                </tr>
            </tfoot>
        </table>
    <h6 align="right">ReqNO : {{ offerprice.OfferNo }}</h6>
    <div class="page-break" style="page-break-after: always;">&nbsp;</div-->

</body>
</html>