{% extends "base_Product.html" %}

{% load humanize %}

{% block content %}
<ul>
    <h1><B>렌탈 관리</B>
    <button type ="button" onclick="window.open('/Order/rentalnew/','popup','scrollbars=no, resizable=no width=800,height=600')">
        <font size = '2'><b>NEW</b></font></button></h1>
</ul>
{% regroup rentallist by get_RentalType_display as rental_list %}
    {% for rental in rental_list %}
    <ul>{{ rental.grouper }}</ul>
    <table class="table table-striped">
         <thread>
            <tr align="center">
                <td><B>ID</B></td>
                <td><B>관리번호</B></td>
                <td><B>등록일자</B></td>
                <td><B>구분</B></td>
                <td><B>상태</B></td>
                <td><B>거래처명</B></td>
                <td><B>렌탈사명</B></td>
                <td><B>부서명</B></td>
                <td><B>사원명</B></td>
                <td><B>렌탈기간</B></td>
                <td><B>상품명</B></td>
                <td><B>수량</B></td>
                <td><B>매입가</B></td>
                <td><B>매입가계</B></td>
                <td><B>매출가</B></td>
                <td><B>매입가계</B></td>
                <td><B>마진</B></td>
                <td><B>매출이익률</B></td>
                <td><B>Action</B></td>
            </tr>

        </thread>
        <tbody>
            {% for rentallist in rental.list %}
            {% if rentallist.RentalRemainMonth < 4 %}
            <tr align="center" style="color:#FF0000">
            {% else %}
            <tr align="center">
            {% endif %}
                <td>{{ rentallist.id }}</td>
                <td>{{ rentallist.RentalNo }}</td>
                <td>{{ rentallist.RegDate|date:"y.m.d" }}</td>
                <td>{{ rentallist.get_RentalType_display }}</td>
                <td>{{ rentallist.get_RentalStatus_display }}</td>
                <td>{{ rentallist.Custname }}</td>
                <td>{{ rentallist.RentalVendor }}</td>
                <td>{{ rentallist.DeptCode }}</td>
                <td>{{ rentallist.EmpNo }}</td>
                <td>{{ rentallist.RentalStartDate|date:"y.m.d" }} - {{ rentallist.RentalEndDate|date:"y.m.d" }}
                    ( {{ rentallist.RentalRemainMonth }} / {{ rentallist.RentalPeriod }} ) </td>
                <td>{{ rentallist.RentalProdCode }}</td>
                <td>{{ rentallist.RentalQty|intcomma }}</td>
                <td>{{ rentallist.RentalCoPrice|intcomma }}</td>
                <td>{{ rentallist.CoPriceSum|intcomma }}</td>
                <td>{{ rentallist.RentalOfferPrice|intcomma }}</td>
                <td>{{ rentallist.OfferPriceSum|intcomma }}</td>
                <td>{{ rentallist.MarginSum|intcomma }}</td>
                <td>{{ rentallist.Margin }} %</td>
                <td><button type ="button" onclick="window.open('{{ base_dir }}/Order/rentaledit/{{ rentallist.id }}','popup','scrollbars=no, resizable=no width=400,height=600')">
                        <font size = '2'><b>수정</b></font></button></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <br>
    {% endfor %}
{% endblock content %}

